In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

# Data Understanding and Exploration

In [5]:
df.shape #Checking the size of dataset

(67463, 35)

In [6]:
df.info() #Need to rename the columns as per syntax

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67463 entries, 0 to 67462
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            67463 non-null  int64
 1   Loan Amount                   67463 non-null  int64
 2   Funded Amount                 67463 non-null  int64
 3   Funded Amount Investor        67463 non-null  float64
 4   Term                          67463 non-null  int64
 5   Batch Enrolled                67463 non-null  object
 6   Interest Rate                 67463 non-null  float64
 7   Grade                         67463 non-null  object
 8   Sub Grade                     67463 non-null  object
 9   Employment Duration           67463 non-null  object
 10  Home Ownership                67463 non-null  float64
 11  Verification Status           67463 non-null  object
 12  Payment Plan                  67463 non-null  object
 13  Loan Title                    67463 non-null  object
 14  Debit to Income               67463 non-null  float64
 15  Delinquency - two years       67463 non-null  int64
 16  Inquires - six months         67463 non-null  int64
 17  Open Account                  67463 non-null  int64
 18  Public Record                 67463 non-null  int64
 19  Revolving Balance             67463 non-null  int64
 20  Revolving Utilities           67463 non-null  float64
 21  Total Accounts                67463 non-null  int64
 22  Initial List Status           67463 non-null  object
 23  Total Received Interest       67463 non-null  float64
 24  Total Received Late Fee       67463 non-null  float64
 25  Recoveries                    67463 non-null  float64
 26  Collection Recovery Fee       67463 non-null  float64
 27  Collection 12 months Medical  67463 non-null  int64
 28  Application Type              67463 non-null  object
 29  Last week Pay                 67463 non-null  int64
 30  Accounts Delinquent           67463 non-null  int64
 31  Total Collection Amount       67463 non-null  int64
 32  Total Current Balance         67463 non-null  int64
 33  Total Revolving Credit Limit  67463 non-null  int64
 34  Loan Status                   67463 non-null  int64
dtypes: float64(9), int64(17), object(9)
memory usage: 18.0+ MB

In [7]:
df.rename(columns={
    'ID': 'ID',
    'Loan Amount': 'Loan_Amount',
    'Funded Amount': 'Funded_Amount',
    'Funded Amount Investor': 'Funded_Amount_Investor',
    'Term': 'Term',
    'Batch Enrolled': 'Batch_Enrolled',
    'Interest Rate': 'Interest_Rate',
    'Grade': 'Grade',
    'Sub Grade': 'Sub_Grade',
    'Employment Duration': 'Employment_Duration',
    'Home Ownership': 'Home_Ownership',
    'Verification Status': 'Verification_Status',
    'Payment Plan': 'Payment_Plan',
    'Loan Title': 'Loan_Title',
    'Debit to Income': 'Debit_to_Income',
    'Delinquency - two years': 'Delinquency_Two_Years',
    'Inquires - six months': 'Inquiries_Six_Months',
    'Open Account': 'Open_Account',
    'Public Record': 'Public_Record',
    'Revolving Balance': 'Revolving_Balance',
    'Revolving Utilities': 'Revolving_Utilities',
    'Total Accounts': 'Total_Accounts',
    'Initial List Status': 'Initial_List_Status',
    'Total Received Interest': 'Total_Received_Interest',
    'Total Received Late Fee': 'Total_Received_Late_Fee',
    'Recoveries': 'Recoveries',
    'Collection Recovery Fee': 'Collection_Recovery_Fee',
    'Collection 12 months Medical': 'Collection_12_Months_Medical',
    'Application Type': 'Application_Type',
    'Last week Pay': 'Last_Week_Pay',
    'Accounts Delinquent': 'Accounts_Delinquent',
    'Total Collection Amount': 'Total_Collection_Amount',
    'Total Current Balance': 'Total_Current_Balance',
    'Total Revolving Credit Limit': 'Total_Revolving_Credit_Limit',
    'Loan Status': 'Loan_Status'
}, inplace=True)

In [8]:
df.isnull().sum() #Checking null values in each columns

ID                              0
Loan_Amount                     0
Funded_Amount                   0
Funded_Amount_Investor          0
Term                            0
Batch_Enrolled                  0
Interest_Rate                   0
Grade                           0
Sub_Grade                       0
Employment_Duration             0
Home_Ownership                  0
Verification_Status             0
Payment_Plan                    0
Loan_Title                      0
Debit_to_Income                 0
Delinquency_Two_Years           0
Inquiries_Six_Months            0
Open_Account                    0
Public_Record                   0
Revolving_Balance               0
Revolving_Utilities             0
Total_Accounts                  0
Initial_List_Status             0
Total_Received_Interest         0
Total_Received_Late_Fee         0
Recoveries                      0
Collection_Recovery_Fee         0
Collection_12_Months_Medical    0
Application_Type                0
Last_Week_Pay                   0
Accounts_Delinquent             0
Total_Collection_Amount         0
Total_Current_Balance           0
Total_Revolving_Credit_Limit    0
Loan_Status                     0
dtype: int64

In [9]:
df.duplicated().sum() #Checking number of Duplicates

0

In [10]:
df['ID'].nunique()

67463

In [11]:
df['Loan_Amount'].nunique()

27525

In [12]:
df['Funded_Amount'].nunique()

24548

In [13]:
df['Funded_Amount_Investor'].nunique()

67441

In [14]:
df['Term'].value_counts()

Term
59    43780
58    22226
36     1457
Name: count, dtype: int64

In [15]:
df['Batch_Enrolled'].nunique() #we can drop this in feature engineering section

41

In [16]:
df['Interest_Rate'].nunique()

67448

In [17]:
df['Grade'].value_counts() #ordinal data

Grade
C    19085
B    18742
A    12055
D     8259
E     6446
F     2246
G      630
Name: count, dtype: int64

In [18]:
df['Sub_Grade'].unique() #ordinal data

array(['C4', 'D3', 'D4', 'C3', 'G5', 'C5', 'A5', 'C2', 'B5', 'B1', 'B4',
       'A4', 'B2', 'D2', 'C1', 'F3', 'D1', 'F2', 'A2', 'A3', 'F1', 'E5',
       'B3', 'F4', 'G1', 'F5', 'E1', 'E2', 'D5', 'G2', 'E4', 'A1', 'G3',
       'E3', 'G4'], dtype=object)

In [19]:
df['Employment_Duration'].value_counts() #wrong data

Employment_Duration
MORTGAGE    36351
RENT        24150
OWN          6962
Name: count, dtype: int64

In [20]:
df['Home_Ownership'].nunique() #wrong data

67454

In [21]:
df['Verification_Status'].value_counts()

Verification_Status
Source Verified    33036
Verified           18078
Not Verified       16349
Name: count, dtype: int64

In [22]:
df['Payment_Plan'].unique() #we can drop this

array(['n'], dtype=object)

In [23]:
df['Loan_Title'].unique() #according to chatgpt we can drop

array(['Debt Consolidation', 'Debt consolidation',
       'Credit card refinancing', 'Home improvement',
       'Credit Consolidation', 'Green loan', 'Other',
       'Moving and relocation', 'Credit Cards', 'Medical expenses',
       'DEBT CONSOLIDATION', 'Home Improvement', 'Refinance',
       'credit card consolidation', 'Lending Club',
       'Debt Consolidation Loan', 'Major purchase', 'Vacation',
       'Business', 'Credit card payoff', 'Credit Card Consolidation',
       'credit card', 'Credit Card Refi', 'Personal Loan', 'CC Refi',
       'consolidate', 'Medical', 'Loan 1', 'Consolidation',
       'Card Consolidation', 'Car financing', 'debt', 'home improvement',
       'debt consolidation', 'Home buying', 'Freedom', 'Consolidate',
       'Consolidated', 'get out of debt', 'consolidation loan',
       'Dept consolidation', 'Personal loan', 'Personal', 'Debt', 'cards',
       'Cards', 'Bathroom', 'refi', 'Credit Card Loan',
       'Credit Card Debt', 'House', 'Debt Consolidation 2013',
       'debt loan', 'CC Refinance', 'Consolidation Loan', 'Home',
       'CC consolidation', 'Credit Card', 'Credit Card Refinance',
       'Credit Loan', 'payoff', 'Bill Consolidation',
       'credit card refinance', 'Credit Card consolidation',
       'Credit Card Paydown', 'Credit card pay off', 'vacation',
       'Credit card refinance', 'Get Debt Free', 'MYLOAN',
       'credit pay off', 'Payoff', 'consolidation', 'My Loan', 'Loan',
       'Bill Payoff', 'CC-Refinance', 'Debt Reduction', 'Medical loan',
       'Wedding Loan', 'Credit', 'CONSOLIDATE', 'personal',
       'pay off bills', 'CC Consolidation', 'Refinance Loan',
       'Credit Card Payoff', 'Debt Payoff', 'Car Loan', 'Pay Off',
       'Debt Loan', 'CONSOLIDATION', 'Pool', 'Credit payoff',
       'Credit Card Refinance Loan', 'CC Loan', 'Debt Free',
       'debt consolidation loan', 'conso', 'Home Improvement Loan',
       'Loan Consolidation', 'Debt payoff', 'Lending loan', 'relief',
       'CC', 'loan1', 'Getting Ahead', 'Home loan', 'bills'], dtype=object)

In [24]:
df['Debit_to_Income'].nunique()

67454

In [25]:
df['Delinquency_Two_Years'].value_counts() #Definition: Delinquency means a borrower has missed a payment deadline.

Delinquency_Two_Years
0    52054
1    11736
2     2651
3      445
7      252
6      191
5       74
8       44
4       16
Name: count, dtype: int64

In [26]:
df['Inquiries_Six_Months'].value_counts() #count

Inquiries_Six_Months
0    60486
1     4558
2     2042
3      320
4       54
5        3
Name: count, dtype: int64

In [27]:
df['Open_Account'].unique() #count (Number of currently open credit lines.)

array([13, 12, 14,  7, 16, 11,  6, 17, 10,  8,  9, 26, 31, 28, 19, 15, 33,
       30, 21, 18, 27, 20, 25, 24, 23, 22, 34, 32, 29,  5,  4, 36, 35,  3,
       37,  2], dtype=int64)

In [28]:
df['Public_Record'].value_counts() #count (Number of derogatory public records (e.g., bankruptcies).

Public_Record
0    62871
1     4133
2      200
4      184
3       75
Name: count, dtype: int64

In [29]:
df['Revolving_Balance'].nunique() #Current balance on revolving credit lines.

20582

In [30]:
df['Initial_List_Status'].value_counts() #Status of the loan when it was first listed (Institutional investors might prefer lower-risk loans → w loans might default less. f loans might be higher-risk or more accessible.)

Initial_List_Status
w    36299
f    31164
Name: count, dtype: int64

In [31]:
df['Revolving_Utilities'].nunique() #Ratio of revolving balance to credit limit — a utilization metric.

67458

In [32]:
df['Total_Accounts'].unique() #Total number of credit lines (open or closed).

array([ 7, 13, 20, 12, 22, 37, 33, 17, 30, 46, 21, 19, 10, 16, 14,  9, 25,
       11, 24, 23, 15, 18, 28,  8, 38, 27, 29,  6, 26,  4,  5, 32, 56, 44,
       31, 34, 40, 39, 45, 36, 41, 35, 42, 50, 52, 43, 63, 47, 66, 48, 49,
       54, 68, 53, 55, 65, 51, 60, 61, 59, 57, 64, 72, 58, 71, 67, 69, 70,
       62], dtype=int64)

In [33]:
df['Total_Received_Interest'].nunique() #Total interest received to date.

67451

In [34]:
df['Total_Received_Late_Fee'].nunique() #Late fees collected from the borrower.

67380

In [35]:
df['Recoveries'].nunique() #Amount recovered from charged-off loans

67387

In [36]:
df['Collection_Recovery_Fee'].nunique() #Fees associated with collections on the loan.

67313

In [37]:
df['Collection_12_Months_Medical'].value_counts() #Number of medical collections in the past year. Could indicate financial distress.

Collection_12_Months_Medical
0    66026
1     1437
Name: count, dtype: int64

In [38]:
df['Application_Type'].value_counts()

Application_Type
INDIVIDUAL    67340
JOINT           123
Name: count, dtype: int64

In [39]:
df['Last_Week_Pay'].nunique() # Time since last payment. Could be categorical like “1 week”, “13 weeks

162

In [40]:
df['Accounts_Delinquent'].value_counts() #simple drop this column

Accounts_Delinquent
0    67463
Name: count, dtype: int64

In [41]:
df['Total_Collection_Amount'].nunique() #Total past due amount in collections.

2193

In [42]:
df['Total_Current_Balance'].nunique() #current balances on accounts.

60901

In [43]:
df['Total_Revolving_Credit_Limit'].nunique() # Total credit limit on revolving accounts

37708

In [44]:
df['Loan_Status'].nunique() #0 or 1 (DEPENDENT VARIABLE)

2

In [45]:
df['Loan_Status'].value_counts() #Checking balance or imbalance data

Loan_Status
0    61222
1     6241
Name: count, dtype: int64

It is imbalance dataset so here I have to use Undersampling method

# Data Cleaning and Wrangling

In [47]:
df.rename(columns={'Employment_Duration':'Home_Ownership', 'Home_Ownership':'Employment_Duration'},inplace=True)

In [48]:
continous = ['Loan_Amount','Funded_Amount','Funded_Amount_Investor','Interest_Rate','Employment_Duration','Debit_to_Income',
'Revolving_Balance','Revolving_Utilities','Total_Received_Interest','Total_Received_Late_Fee','Recoveries','Collection_Recovery_Fee',
'Total_Collection_Amount', 'Total_Current_Balance','Total_Revolving_Credit_Limit',]

count = [ 'Term', 'Delinquency_Two_Years','Inquiries_Six_Months' 'Open_Account', 'Public_Record','Last_Week_Pay']

In [49]:
df.drop(columns=['ID','Batch_Enrolled', 'Payment_Plan','Loan_Title','Accounts_Delinquent',],inplace=True)

In [50]:
df[continous].corr()

,Loan_Amount,Funded_Amount,Funded_Amount_Investor,Interest_Rate,Employment_Duration,Debit_to_Income,Revolving_Balance,Revolving_Utilities,Total_Received_Interest,Total_Received_Late_Fee,Recoveries,Collection_Recovery_Fee,Total_Collection_Amount,Total_Current_Balance,Total_Revolving_Credit_Limit
Loan_Amount,1.000000,-0.000551,0.002831,-0.004888,0.016691,0.007959,-0.001738,0.014828,-0.001887,-0.000034,-0.001606,-0.002142,-0.004135,-0.008285,0.002289
Funded_Amount,-0.000551,1.000000,0.010227,0.002310,-0.003518,0.002347,-0.004485,0.004460,0.002759,0.001542,0.000462,0.000175,-0.002821,-0.001499,0.006145
Funded_Amount_Investor,0.002831,0.010227,1.000000,-0.001917,0.001339,0.000112,-0.009102,-0.003027,0.001432,-0.000232,0.000966,-0.007272,0.006862,0.003283,0.005669
Interest_Rate,-0.004888,0.002310,-0.001917,1.000000,0.005467,-0.011203,0.018999,0.006089,0.006998,0.003119,0.009348,0.001281,0.002771,-0.002567,0.016651
Employment_Duration,0.016691,-0.003518,0.001339,0.005467,1.000000,0.022781,0.016783,-0.005556,-0.010346,0.004011,0.004399,-0.003821,0.006314,0.007117,0.005008
Debit_to_Income,0.007959,0.002347,0.000112,-0.011203,0.022781,1.000000,-0.011414,0.003691,0.006504,-0.010224,-0.009693,0.002200,0.001555,-0.011582,-0.007236
Revolving_Balance,-0.001738,-0.004485,-0.009102,0.018999,0.016783,-0.011414,1.000000,-0.003906,-0.006190,0.004903,0.005056,-0.003939,0.004282,-0.007537,0.023366
Revolving_Utilities,0.014828,0.004460,-0.003027,0.006089,-0.005556,0.003691,-0.003906,1.000000,0.007607,-0.001363,-0.002381,-0.001952,0.006067,-0.019785,-0.009818
Total_Received_Interest,-0.001887,0.002759,0.001432,0.006998,-0.010346,0.006504,-0.006190,0.007607,1.000000,0.002507,-0.000717,0.003921,0.001027,0.001374,0.012015
Total_Received_Late_Fee,-0.000034,0.001542,-0.000232,0.003119,0.004011,-0.010224,0.004903,-0.001363,0.002507,1.000000,0.007992,0.004856,0.007441,-0.000526,0.014839
Recoveries,-0.001606,0.000462,0.000966,0.009348,0.004399,-0.009693,0.005056,-0.002381,-0.000717,0.007992,1.000000,0.008328,0.004703,-0.000488,-0.000146
Collection_Recovery_Fee,-0.002142,0.000175,-0.007272,0.001281,-0.003821,0.002200,-0.003939,-0.001952,0.003921,0.004856,0.008328,1.000000,0.001800,0.002851,-0.000208
Total_Collection_Amount,-0.004135,-0.002821,0.006862,0.002771,0.006314,0.001555,0.004282,0.006067,0.001027,0.007441,0.004703,0.001800,1.000000,0.005318,0.006541
Total_Current_Balance,-0.008285,-0.001499,0.003283,-0.002567,0.007117,-0.011582,-0.007537,-0.019785,0.001374,-0.000526,-0.000488,0.002851,0.005318,1.000000,0.004865
Total_Revolving_Credit_Limit,0.002289,0.006145,0.005669,0.016651,0.005008,-0.007236,0.023366,-0.009818,0.012015,0.014839,-0.000146,-0.000208,0.006541,0.004865,1.000000

**Checking Skewness and Data Transformantion**

In [52]:
df[continous].skew()

Loan_Amount                      0.288083
Funded_Amount                    0.672633
Funded_Amount_Investor           0.990139
Interest_Rate                    0.563383
Employment_Duration              2.130488
Debit_to_Income                  0.080967
Revolving_Balance                2.951135
Revolving_Utilities             -0.237245
Total_Received_Interest          2.135243
Total_Received_Late_Fee          5.084511
Recoveries                       7.371787
Collection_Recovery_Fee         11.102131
Total_Collection_Amount         12.910972
Total_Current_Balance            1.511578
Total_Revolving_Credit_Limit     1.977150
dtype: float64

In [53]:
df['Employment_Duration'] = np.log(df['Employment_Duration'] )

In [54]:
df['Revolving_Balance'] = df['Revolving_Balance']**(1/4)

In [55]:
df['Total_Received_Interest'] = np.log(df['Total_Received_Interest'] )

In [56]:
df['Total_Received_Late_Fee'],p = stats.boxcox(df['Total_Received_Late_Fee']+0.001)

In [57]:
df['Recoveries'],p = stats.boxcox(df['Recoveries']+0.001)

In [58]:
df['Collection_Recovery_Fee'] = np.log(df['Collection_Recovery_Fee'])

In [59]:
df['Total_Collection_Amount'],p = stats.boxcox(df['Total_Collection_Amount']+0.001)

In [60]:
df['Total_Current_Balance'] = np.log(df['Total_Current_Balance'])

In [61]:
df['Total_Revolving_Credit_Limit'] = np.log(df['Total_Revolving_Credit_Limit'])

In [62]:
df[continous].skew()

Loan_Amount                     0.288083
Funded_Amount                   0.672633
Funded_Amount_Investor          0.990139
Interest_Rate                   0.563383
Employment_Duration             0.282724
Debit_to_Income                 0.080967
Revolving_Balance              -0.026619
Revolving_Utilities            -0.237245
Total_Received_Interest        -0.597668
Total_Received_Late_Fee        -0.247645
Recoveries                     -0.285227
Collection_Recovery_Fee        -0.878965
Total_Collection_Amount        -0.320255
Total_Current_Balance          -0.591227
Total_Revolving_Credit_Limit   -0.371911
dtype: float64

**Data Scaling**

In [64]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df[continous] = sc.fit_transform(df[continous])

**Data Encoding**

In [66]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=[['A','B','C','D','E','F','G']])
df['Grade'] = encoder.fit_transform(df[['Grade']])

In [67]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=[['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 
                                      'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 
                                      'F2', 'F3', 'F4', 'F5', 'G1', 'G2', 'G3', 'G4', 'G5']])
df['Sub_Grade'] = encoder.fit_transform(df[['Sub_Grade']])

In [68]:
df['Application_Type'] = df['Application_Type'].replace({'INDIVIDUAL':0,'JOINT':1})

In [69]:
df['Verification_Status'] = df['Verification_Status'].replace({'Not Verified':0,'Source Verified':1,'Verified':2})

In [70]:
df['Home_Ownership'] = df['Home_Ownership'].replace({'MORTGAGE':0,'RENT':1,'OWN':2})

In [71]:
df['Initial_List_Status'] = df['Initial_List_Status'].replace({'f':0,'w':1})

In [142]:
df.to_csv('cleaned_data',index= False)